.showWoBtn {
  margin-top:  -1.8rem ;
  margin-bottom:  0.2rem ;
}

.mHeader {
  background: #5C6BC0 ;
  color: white ;
}

.close {
  color : white ;
}

.modal-content {
  background-color: #EEEEEE ;
}