.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* custom bootstrap colors and mine custom bootstrpa css  */

.error-row {
  margin-left: auto ;
  margin-right: auto ;
}

.form-adj{
  margin-top: -0.8rem ;
  
}

.form-adj-last {
  margin-bottom: 0 ;
}

.my-nav {
  background-color:  #26418f !important ;
}

.my-nav-link {
  color: #ffffff ;
}

.logo-color {
  color : #ffff74 ;
}

.jumbotron {
  max-height: 7rem ;
  padding: 0 ;
  padding-bottom: 5px;
  background-color:  #5C6BC0 ;
  color: #ffffff ;
}

.table-name{
  background-color:  #EEEEEE ;
  text-align: center ;
  font-size:  2rem ;
}

.click-th {
  cursor: pointer ;
}

.form-container{
  width: 70vw ;
  background-color: #EEEEEE ;
  color:  black ;
  height:  auto ;
  margin:  0 auto ;
  padding-top:  1rem ;
}

.form-css{
  margin-bottom: -1rem ;
}

/* custom buttons  */

.mdc-button {
  background-color: #FFD740;
      color: #000000;
}



.btn-table-end{
  background-color:  #5C6BC0 ;
  color: #ffffff ;
  border-radius: 5px ;
  height: 2rem ;
  text-align: center;
  line-height: 2rem ;
}



.btn-table-end:hover {
  cursor: pointer ;
}

.btn-form-submit{
  background-color:  #5C6BC0 ;
  color: #ffffff ;
  border-radius: 5px ;
  height: 2rem ;
  text-align: center;
  /* line-height: 2rem ; */
  width:100%;
  display:block;
}

/* custom navbar links  */

a:hover, a:active {
  color: #ffff74 ;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
