.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* custom bootstrap colors and mine custom css  */

.my-nav {
  background-color:  #26418f !important ;
}

.my-nav-link {
  color: #ffffff ;
}

.logo-color {
  color : #ffff74 ;
}

.jumbotron {
  max-height: 7rem ;
  padding: 0 ;
  padding-bottom: 5px;
  background-color:  #5C6BC0 ;
  color: #ffffff ;
}

.table-name{
  background-color:  #EEEEEE ;
  text-align: center ;
  font-size:  2rem ;
}

.click-th {
  cursor: pointer ;
}

/* custom buttons  */

.mdc-button {
  background-color: #FFD740;
      color: #000000;
}

/* custom navbar links  */

a:hover, a:active {
  color: #ffff74 ;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
